/* ====================================== USER-DEFINED  ======================================= */

/* =========== GLOBAL STYLES ============= */
html {
    /* x-axis, y- axis, blur, size, color, inset */
    box-shadow: 0 0 0 30px #000 inset;
    padding: 0 30px;
}
body {
    font-family: helvetica, arial, sans;
    min-height: 100vh;
    /* Flexbox declaractions for the Flex Container (which holds the flex elements) */
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 3rem;
    margin-top: 0;
}
h2 {
    font-size: 30px;
}
h4 {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    color: #6397b5;
}
p {
    line-height: 1.5;
    margin: 0 0.75em 0;
}
h2 ~ p {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}

.content-container {
/* Initializing this as a flexbox container itself,
    despite it already being a flex element (for body) */
    display: flex;
    flex: 1 1 auto;
    padding-top: 10vh;
    width: 100%;

}
/* ============= HEADER STYLES ============== */

.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.header-logo {
    background-color: #000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    left: -30px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 10vh;
}
.header-logo:hover,
.header-logo:active {
    background-color: #ed6e2f;
}
.header-logo img {
    width: 4.3vh;
}

/* ----- NAV LINKS ---- */
.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}
.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}
.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}
.header-nav > li:first-child a {
    color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
    color: #fff;
}
.header-nav a,
.drop-trigger {
    color: #fff;
}

.nav-links a,
.drop-trigger {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active {
    color: #ed6e2f;
}

/* Dropdown: */
.dropdown {
    position: relative;
}

.dropdown:hover .drop-menu {
    display: block;
}

.dropdown:hover .drop-trigger:after {
    border-color: #ed6e2f transparent transparent;
}

.drop-trigger {
    display: inline-block;
    padding-right: 1.5em;
    position: relative;
}

.drop-trigger:after {
    border: 0.3em solid;
    border-color: #fff transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0.3em;
    width: 0;
}

.drop-menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: none;
    list-style: none;
    padding: 1em 0 0;
    position: absolute;
    right: 0;
    z-index: 9;
}

.drop-menu:before {
    border: 0.6em solid;
    border-color: transparent transparent #fff;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: -0.1em;
    width: 0;
}

.drop-menu li {
    background-color: #fff;
}

.drop-menu li~li {
    border-top: 1px dotted rgba(0, 0, 0, 0.1)
}

.drop-menu li:first-child {
    border-radius: 5px 5px 0 0;
    color: #999;
    font-size: 0.5em;
    padding: 1em 1em 0.25em;
    text-align: right;
    text-transform: uppercase;
}
.drop-menu li:last-child {
    border-radius: 0 0 5px 5px;
}
.drop-menu a {
    color: #333;
    display: block;
    font-weight: normal;
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
}



/* =============== FOOTER STYLES ================= */

.footer {
    background-color: #000;
    padding: 10vh 0 15vh;
    text-align: center;

}

.footer-logo img {
    width: 50px;
}

.footer-nav a {
    color: #ccc;
}

.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0;
}

.footer h3 {
    color: #fff;
    padding-top: 1.5em;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaa;
}

/* ul tag; positioning of the list */
.footer-social-list {
    margin-top: 5vh;
}

.footer-social-list .social-link {
    background: #000;
    border: 3px solid #fff;
    padding-top: 0.60em;
}

.footer-social-list .social-link:hover,
.footer-social-list .social-link:active {
    /* could also change to orange to be in sync with rest of footer highlight: #ed6e2f */
    color: rgba(255, 255, 255, 0.90);
    border-color: rgba(255, 255, 255, 0.90);
}

/* Dropdown */
.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
    display: none;
}

.footer .drop-trigger {
    padding-right: 0;
}

/* .footer .dropdown:hover .drop-menu{
   position: relative;
}
.footer .dropdown:hover .drop-trigger:after {
    border-color: transparent transparent #ed6e2f;
}

.footer .drop-trigger:after {
    border: 0.3em solid;
    border-color: transparent transparent #fff;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0.1em;
    width: 0;
}

.footer .drop-menu:before {
    border: 0.6em solid;
    border-color: #fff transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: -0.1em;
    width: 0;
}
.footer .drop-menu li {
    margin: auto;
    width: 100%;
} */
/* Equalizing due to weird width of footer dropdown: */
/* .footer .drop-menu li:first-child {
    padding-left: 0;
    padding-right: 0.25em;
}
.footer .drop-menu li:first-child~li {
    padding-left: 0.15em;
}
.footer-wrapper-above {
    display: flex;
    flex-direction: column-reverse;
}
 */


/* =============== HERO STYLES ============= */

.full-hero {
    background-color: #c7dbfc;
    background-size: cover;
    box-sizing: border-box;
    height: 90vh;
    padding-top: 10vh;

}
.full-hero:after {
    bottom: 2vh;
    color: #fff;
    content: "﹀";
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

.hero-content {
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0, -50%);
}
.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25em;
}
.hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.8);
    color: #557c83;
}
.hero-content .social-link:hover {
    background-color: #000;
    color: #fff;
}
.hero-home {
    background-image: url(/images/shark.jpg);
    background-position: center top;
}

/* ================= HOMEPAGE STYLES =============== */

.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw;
}
.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.home-section h4 {
    margin-bottom: 0.5em;
    text-align: center;
}
.home-section .post-header {
    text-align: center;
}
.home-section .blog-posts {
    margin: auto;
    width: 75%;
}
.home-callout {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 7vh 0;
}
.home-callout h3 {
  color: inherit;
  margin-top: 1em;
}
.callout-title {
  flex: 1 1 0; /* => flex: 1 */
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}
.callout-copy {
  flex: 0 0 45em;
  padding: 0 3vw;
  font-size: 0.8rem;
}

/* ============== BIO STYLES =============== */

.bio-wrapper {
    font-size: 24px;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
}
.bio-box {
    box-sizing: border-box;
    float: left;
    font-size: 1rem;
    margin: 6rem 0 0;
    padding: 0 3%;
    width: 33%;

}
.bio-box h3 {
    color: #fff;
    font-size: 1.5em;
    margin: -40px 0 1em;
    text-align: center;
    text-transform: uppercase;
}
.bio-box img {
    width: 100%;
}
.bio-box .social-link {
    display: block;
    margin: 2em auto 1em;
}
.bio-copy {
    font-size: 0.75em;
}
#exec-bio {
    background-color: #d3d3d3;
}

/* =============== SOCIAL STYLES ============= */

.social-list {
    list-style: none;
    /* applied on ul, not li */
    padding: 0;
    text-align: center;

}
.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}
.social-link {
    /* height: 100px; Inline elements don't accept height/width */
    background: rgba(150, 150, 150, 0.5);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.85em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}
.social-link:hover,
.social-link:active {
    background: rgb(82, 192, 255);
}
.fb:hover {
    background: rgb(37, 86, 194)
}
.gh:hover {
    background: rgb(37, 37, 37);
}

@media (max-width: 800px) {
    html {
        box-shadow: none;
        padding: 0;
    }

    .post-aside {
        display: none;
    }
}

/* =========== Media Queries ========== */

@media (max-width: 800px) {
    html {
        box-shadow: none;
        padding: 0;
    }

    /* HEADER STYLES */
    .header-nav {
        padding: 2vh 1em 0 0;
    }
    .header-nav > li {
        margin-left: 0.25em;
    }
    .header-nav > li ~ li {
        padding-left: 0.25em;
    }
    .nav-links a {
        font-size: 3.25vw;
    }
    .header-logo {
        left: auto;
    }

    /* HOME STYLES */
    .home-callout {
        flex-direction: column;
    }
    .callout-copy {
        flex: 1;
    }
    .bio-box {
        float: none;
        font-size: 1.3em;
        width: auto;
    }

    /* BLOG STYLES */
    .post-aside {
        display: none;
    }
}
